.top-right-div {
    text-align: right;
  }

.center-div {
  padding: 70px 0;
  text-align: center;
}

#input-field {
    border-radius: 15px;
    border: 0.5px solid gray;
    padding: 5px; 
    width: 300px;
  }

#search-button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px; 
}
#search-button:hover {
    border: 0.5px solid gray;
  }

#advanced-h1 {
    font-size: 28px;
    font-weight: normal;
    color: red;
}
#advanced-h2 {
    font-size: 18px;
    font-weight: normal;
}

#advanced-input-field {
    border: 0.5px solid gray;
    padding: 5px; 
    width: 100%;
  }

#advanced-search-button {
    border: none;
    background-color: #4787ED;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    padding: 10px; 
    float: right;
}


.grid-container {
    display: grid;
    grid-template-columns: max-content auto;
    padding: 10px;
  }
  .grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    font-size: 14px;
    text-align: left;
  }