{% extends "auctions/layout.html" %}
{% load static %}
{% load index %}

{% block body %}
    <h2>{{ category }} Listings</h2>

<div class="table">
    {% for listing in listings %}

  <a class="tableRow" href="{% url 'listing' listing.id %}">
    <div class="tableCell"><img src="{{ listing.image_source }}" width="200"></div>
    <div class="tableCell">
        <p>
            <h3>{{ listing.title }}</h3>
        </p>
        <!-- <p> {{ listing.description }} -->
        </p>        
        <p><b>Price: </b>{{ prices|index:forloop.counter0 }}
        </p>
        <p>
            Created {{ listing.date }}
        </p>
    </div>
  </a>
  {% endfor %}

 </div>

{% endblock %}
