{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listing</h2>

    {% if user.is_authenticated %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
    <h3>{{ form.title.label }}</h3>
    {{ form.title }} 
    <h3>{{ form.description.label }}</h3>
    {{ form.description }} 
    <h3>{{ form.image.label }}</h3>
    {{ form.image }} 
    <h3>Category</h3>

    <p><select name="category">
        {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}

    </select>

    <h3>{{ form.price.label }}</h3>
    {{ form.price }} 
     <hr>
    <p><input type="Submit" value="Save"></p>
    </form>
    {% else %}
        <hr>
        <h3>Please register or login first</h3>
    {% endif %}
{% endblock %}